In [6]:
import pandas as pd
import requests
import json
from tqdm import tqdm
import warnings
warnings.filterwarnings(action='ignore') 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [80]:
# 66424a6877726973343278474e706f
import requests
import xml.etree.ElementTree as ET


apiKey='744f6349447269733130325550574e6b'
STAT_DATA = '2023-06-30'
url ='http://openapi.seoul.go.kr:8088/{apiKey}/json/tbCycleUseStatus/1/1/{STAT_DATA}'.format(apiKey=apiKey,
                                                                                             STAT_DATA=STAT_DATA)
response = requests.get(url)
# print(response.content)
api = response.text
dict = json.loads(api)

list_total_count = int(dict.get('useStatus').get('list_total_count'))


data = dict.get('useStatus').get('row')
data_df = pd.DataFrame(data)
data_df

,STA_LOC,RENT_NM,STAT_DATA,RENT_CNT,RTN_CNT,START_INDEX,END_INDEX
0,양천구,729. 서부식자재마트 건너편,2023-06-30,74,76,0,0

In [81]:
list_total_count

2694

In [83]:
cnt=0 
data_list = []
# len(list_total_count)
for idx in tqdm(range(1, list_total_count)):
    try:
        url ='http://openapi.seoul.go.kr:8088/{apiKey}/json/tbCycleUseStatus/{idx}/{idx}/{STAT_DATA}'.format(apiKey=apiKey,
                                                                                                STAT_DATA=STAT_DATA,idx=idx)
        response = requests.get(url)

        api = response.text
        dict = json.loads(api)
        data = dict.get('useStatus').get('row')
        data_list.append(data[0])

    except:
        cnt +=1
        if cnt%50 ==0:
            print(cnt,'안대는중')
        pass

data_df = pd.DataFrame(data_list)
data_df

100%|██████████| 2693/2693 [05:16<00:00,  8.51it/s]

,STA_LOC,RENT_NM,STAT_DATA,RENT_CNT,RTN_CNT,START_INDEX,END_INDEX
0,양천구,729. 서부식자재마트 건너편,2023-06-30,74,76,0,0
1,양천구,731. 서울시 도로환경관리센터,2023-06-30,145,167,0,0
2,양천구,732. 신월중학교,2023-06-30,48,50,0,0
3,양천구,733. 신정이펜하우스314동,2023-06-30,33,20,0,0
4,양천구,734. 신트리공원 입구,2023-06-30,151,149,0,0
...,...,...,...,...,...,...,...
2688,마포구,426. 서울신용보증재단,2023-06-30,56,55,0,0
2689,양천구,722. 경서농협 버스정류장(우리은행신정동지점방향),2023-06-30,70,71,0,0
2690,양천구,723. SBS방송국,2023-06-30,109,110,0,0
2691,양천구,725. 양강중학교앞 교차로,2023-06-30,42,16,0,0
2692,양천구,726. 목동3단지 시내버스정류장,2023-06-30,175,187,0,0

In [85]:
data_df.to_pickle('/Users/iseunghyeon/Desktop/프로젝트/data/서울시따릉이자전거/따릉이(대여건수,반납건수).pickle')

In [86]:
t = pd.read_pickle('/Users/iseunghyeon/Desktop/프로젝트/data/서울시따릉이자전거/따릉이(대여건수,반납건수).pickle')
t

,STA_LOC,RENT_NM,STAT_DATA,RENT_CNT,RTN_CNT,START_INDEX,END_INDEX
0,양천구,729. 서부식자재마트 건너편,2023-06-30,74,76,0,0
1,양천구,731. 서울시 도로환경관리센터,2023-06-30,145,167,0,0
2,양천구,732. 신월중학교,2023-06-30,48,50,0,0
3,양천구,733. 신정이펜하우스314동,2023-06-30,33,20,0,0
4,양천구,734. 신트리공원 입구,2023-06-30,151,149,0,0
...,...,...,...,...,...,...,...
2688,마포구,426. 서울신용보증재단,2023-06-30,56,55,0,0
2689,양천구,722. 경서농협 버스정류장(우리은행신정동지점방향),2023-06-30,70,71,0,0
2690,양천구,723. SBS방송국,2023-06-30,109,110,0,0
2691,양천구,725. 양강중학교앞 교차로,2023-06-30,42,16,0,0
2692,양천구,726. 목동3단지 시내버스정류장,2023-06-30,175,187,0,0

In [84]:
data_df['STA_LOC'].value_counts(``)

송파구     215
강서구     186
강남구     166
영등포구    151
서초구     137
노원구     134
강동구     118
마포구     118
구로구     114
양천구     108
종로구     101
은평구      97
중랑구      93
용산구      90
성동구      90
중구       87
광진구      86
성북구      82
서대문구     81
동대문구     81
금천구      76
관악구      74
도봉구      73
동작구      72
강북구      63
Name: STA_LOC, dtype: int64

In [25]:
2694